/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.coverbg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dest-wrap {
  padding-top: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.trip-data {
  z-index: -1;
  padding: 20px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
}

.score {
  text-align: center;
  font-size: 120px;
  font-weight: bold;
}

#pano { position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index:-1; }

.result {
  margin: 0;
}

.result h1 {
  margin: 0;
}
