
<div class="container">
  <div class="form-group">
    <h1>Hellberg</h1>

    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Point of departure</label>
        <input type="text" class="form-control" ng-autocomplete="name1" details="detail1" options="options" placeholder="Berlin" />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Destination</label>
        <input type="text" class="form-control" ng-autocomplete="name2" details="detail2" options="options" placeholder="Düsseldorf" />
      </div>
      <a class="btn btn-primary" ng-click="trip()">Go!</a>
    </form>
  </div>
</div>

